.list-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 80vh;

  @media (min-width: 768px) {
    width: 70vw;
  }
}

.list {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #878787;
    border-radius: 4px;
    border: 2px solid transparent;
  }
}

.list-header {
  width: calc(100% - 13px);
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  color: #878787;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;

    > div:first-of-type {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.list-header__info {
  display: flex;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }

  > div:not(.list-header__look) {
    width: 20%;
    text-align: center;
  }
}

.list-header__look {
  width: 42%;
  text-align: center;

  @media (min-width: 768px) {
    width: 30%;
  }
}
