.list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  padding: 8px 0;
  border-bottom: 1px solid #000;
}

.list-item > div {
  border-right: 1px solid #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  width: 10%;
}

.list-item > div:first-of-type {
  width: 50%;
  align-items: flex-end;
}

.hero-name {
  text-align: right;
  font-size: 3rem;
  line-height: 0.9;
  font-weight: 550;
  font-variation-settings: "wdth" 35, "YTFI" 788;
}

.hero-appearance {
  width: 70px;
}

.hero-appearance div {
  text-align: center;
}
