.flow-container {
  width: 100vw;
  height: 100vh;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.flow-back-link {
  font-size: 1rem;
  color: #878787;
  font-style: italic;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10000;
}
